<% if flash.has?(:message) %>
	<%= flash[:message] %>
<% end %>

<form method="post" action="/tasks/<%=@task.id%>/edit" id="new_task">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<label for="title">Title:</label>
	<input type="text" name="title" value="<%=@task.title%>">
	<br>
	<label for="content">Content:</label>
	<textarea name="content" form="new_task"><%=@task.content%></textarea>
	<br>
	<label for="due_date">Due Date:</label>
	<input type="date" name="due_date" value="<%=@task.due_date%>">
	<br>
	<input type="submit" value="Edit Task">
</form>