<% if flash.has?(:message) %>
	<%= flash[:message] %>
<% end %>

<%=@task.title%>
<br>
<%=@task.content%>
<br>
<%=@task.due_date%>
<br>
<a href="/tasks/<%=@task.id%>/edit">Edit</a>
<br>
<form method="post" action="/tasks/<%=@task.id%>/delete">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Task">
</form>